* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;

}

.color-orange {
    color: #FD6E0A
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;

}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575
}

.text-center {
    text-align: center;
}

.container {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
}

/* main style  */

header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}


#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}

#about .about-container {

    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {

    font-size: 20px;

    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 20px;
}


#skill, #resume{
    padding-top: 130px;
}

#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
   /*  display: flex;
    flex-direction: column; */
    
}
#skill .skill-container .skill-box {
    display: flex;
    gap: 24px;
}
.skill-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000025;
    /* border: 1px solid rebeccapurple; */
}

.skill-card img {
    max-width: 44px;
    margin: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p {
    font-size: 16px;
    color: #757575;
    lighting-color: 28px;
}

/* #resume {
    padding-top: 130px;

} */

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
    /* text-align: center; */
}

.resume-container hr {
    font-weight: 1px;
    margin: 30px 0;
}

.resume-container .section-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container .resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-container .resume-card .card-info {
    font-size: 20px;
    /* font-weight: semi-bold; */
    color: #757575;
    margin-bottom: 20px;
}
.resume-container .resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
}

.text-center {
    text-align: center;
    margin-bottom: 113px;
    margin-top: 50px;
}

footer {
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px 0;
}

.footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;

}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icon a{
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}


/* 
.skill-container .container-heading{
    text-align: center;
    
} */

/* .skill-container .container-heading h2{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    width: 167px;
    height: 48px;
} */

/* .skill-container .container-heading p{
    line-height: 30px;
    margin-bottom: 50px;
    width: 827px;
    height: 90px;
} */
/* 
.skill-container .skill-box {
    display: flex;
    gap: 24px;
} */

/* .skill-container .skill-box .skill-card {
    background-color: #751b1b;
    height: 196px;
    width: 201px;

} */

/* .skill-container .skill-box .skill-card img{
    width: 44px;
    height: 44px;
    margin:30px 190px 30px 27px;
} */
/* .skill-container .skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 30px;
} */

/* .skill-container .skill-box .skill-card p{
    font-size: 16px;
    line-height: 28px;
    width: 201px;
    margin: 0 33px 30px;
} */